<div class="main-container">
  <div class="question">
    <H3>Got a question?</H3>
    <form action='/posts' method='POST'>
      <label>Title:</label><br>
      <input name='title' type='text' id="textarea" maxlength="150"><br>
      <div class="row">
        <div class="one-third column">
          <label>Programming Language:</label><br>
          <select name='language' size="1">
            <option></option>
            <option>HTML</option>
            <option>CSS</option>
            <option>JavaScript</option>
            <option>Ruby</option>
            <option>Other</option>
          </select><br>
        </div>
        <div class="one-third column">
          <label>Your name:</label><br>
          <input name='user_name' type='text' maxlength="25"><br>
        </div>
      </div>
      <label>Your question:</label><br>
      <textarea name='body' id="textarea"></textarea><br>
      <button class='button-primary'>Submit Question</button>
    </form>
  </div>
  <div class="all-posts">
    <H3>Popular posts</H3>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Upvotes</th>
          <th></th>
          <th>Questions</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |entry| %>
          <tr>
            <form action='/posts' method='POST'>
            <input type='hidden' name='_method' value='PUT'>
              <td id="upvote-col">
                <input type="hidden" name="current-upvotes" value="<%= entry["upvotes"] %>" />
                <%= "#{entry["upvotes"]}" %>
              </td>
              <td>
                <input type="hidden" name="post_id" value="<%= entry["id"] %>" />
                <button type="submit">+1</button>
              </td>
            </form>
              <td>
                <a href="/posts/<%=entry["id"]%>">
              <%= "#{entry["title"]}" %></a>
              </td>
              <td>
                <%= "#{entry["comment_count"]}" %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

