<div class="main-container">
  <div class="each-post">
    <H3><%= @posts["title"] %></H3>
    <p><em><%= @posts["user_name"] %> wants to know...</em></p>
    <hr>
    <p><strong><%= @posts["body"] %></strong></p>
    <hr>
    <p>Language: <%= @posts["language"] %></p>
  </div>
  <div class="answer">
    <H3>Got an answer?</H3>
    <form action='/comments' method='POST'>
      <input type='hidden' name='_method' value='PUT'>
      <input type="hidden" name="current-comments" value="<%= @posts["comment_count"] %>" />
      <input type="hidden" name="post_id" value="<%= @posts["id"] %>" />
      <label>Your name:</label><br>
      <input name='user_name' type='text' maxlength="25"><br>
      <label>Your answer:</label><br>
      <textarea name='body' id="textarea"></textarea><br>
      <button class="button-primary">Submit Answer</button>
    </form>
  </div>
  <div class="comments">
    <H3>Responses</H3>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Answer</th>
          <th>Posted by</th>
        </tr>
      </thead>
      <tbody>
        <% @comments.each do |entry| %>
          <tr>
            <td><%= "#{entry["body"]}" %></td>
            <td><%= "#{entry["user_name"]}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
